* {box-sizing: border-box;
  margin-top: 0;
  }

body {
    padding-top: 0;
    margin-top: 0;
    background: #fff;
    color: #000;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 90%;
}


.original {
            margin-top: 0;}


#learnmore {z-index: 5;}



.begin { background-image: url('../images/hispanicflags2.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  z-index: 1;}



.names {margin-bottom: 10%;
        text-shadow: 2px 2px 4px #000000;}


h1 {
    text-transform: uppercase;
    font-size: 250%;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;}


h2 {font-size: 175%;}

.sub2 {color: #fff;
    text-align: center;}

#subtitle1 {font-size: 200%;
              text-align: center;
              color: #fff;
              padding: 3%;}

#title {font-size: 300%;
      margin-right: 25%;
      margin-left: 25%;
      max-width: 600px;
      text-align: center;
      color: #fff;
      padding-top: 15%;
      font-weight: bold;
      border: solid;
      border-width: 10px;
      border-right: none;
      border-left: none;
      border-top: none;
      border-color: #000;
      padding-bottom: 2%;}

h3 {font-size: 150%;}

#learnaboutgroup {clear: both;
                  float: right;
                  max-width: 550px;
                  padding: 1em 2em;
                  margin-right: 5%;}


.headline1 {background-color: rgb(124, 18, 18);
            width: 100%;
            padding: 1%;
            padding-left: 2%;
            margin-top: 0;}

.mex-timeline {margin: 2%;}

.intro1 {height: 100vh;
          color: #fff;
          background-color: #000;
    }


.beginning {font-size: 175%;
          padding-top: 18%;
          margin: 0;
          padding-left: 18%;
          padding-right: 2%;
          padding-bottom: 5%;
          font-weight: bold;

          }

.beginning1 {font-size: 175%;
            margin: 0;
            padding-left: 18%;
            padding-right: 2%;
            padding-bottom: 2%;
          font-weight: bold;}

.intro2  {height: 100vh;
        background-image: url('../images/latinos2.jpg');
        background-size: cover;
        background-position: center;
        position:relative;
        top: 0;
        margin-bottom: 0;
        height: 100vh;
        z-index: 1;}


.beginning2 {font-size: 175%;
            color: #fff;
            padding-top: 19%;
            padding-left: 15%;
            padding-bottom: 2%;
            text-shadow: 2px 2px 4px #000000;
          font-weight: bold;}

.beginning3 {font-size: 225%;
            background-color: rgba(91,0,0, 0.7);
              color: #fff;}


#button1 {padding-left: 47%;
          padding-right: 47%;}


#button3 {margin-left: 3%;
          padding-left: 51%;
          padding-right: 51%;
          margin-bottom: 10%;
          }

#button2 {margin-left: 47%;
            margin-right: 47%;}

#begin2 {
        background-color: #FFF;
        height: 100vh;
    }



#locmex, #locpr, #loccuban  {height: 400px;
        width: 100%;}


#map1 { height: 400px;
        width: 100%;
        float: left;}

  #text1 {padding: 1%;;
        border: solid;
        background-color: rgb(124, 18, 18);
        color: #fff;
        text-shadow: 1px 1px 2px #000000;
        float: left;
        max-width: 600px;
        margin-left: 2%;}



#buttons {max-width: 100%;
          padding-top: 1em;
          clear:both;}

.pheno1 {max-width: 550px;
          padding: 1em 2em;
          margin-left: 2%;}



.pheno {max-width: 900px;
        padding: 1em 2em;
        margin: auto;}

#mexmap {border: solid;
        border-width: thick;
        border-color: rgb(0, 77, 38);
        border-width: medium;}

#prmap {border: solid;
        border-width: thick;
          border-color: rgb(152,0,0);
          border-width: medium;}

#cubanmap {border: solid;
          border-width: thick;
          border-width: medium;
          border-color: rgb(0, 0, 153);}




#mloc-text {padding: 2em;
        border: solid;
        background-color: rgb(0, 77, 38);
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 1px 2px #000000;}


ul li { padding: 5px 0px; }



#timemex {width: 100%;
          height: 90vh;
          border: 0;
          }

#timepr {width: 100%;
          height: 90vh;
          border: 0;
          }

#timecub {width: 100%;
          height: 90vh;
          border: 0;}


.btn-default {margin: 3px;
            border: solid;
            border-color: #000;
            border-width: 1px;
            margin-bottom: 3%;
            }

#btn2 {float: right;
      margin-right: 2%;
      z-index: 1;}


.nextbut {clear: both;
          float: right;
          padding-right: 3%;
          margin-bottom: 2em;
        }

.nextbut1 {z-index: 1;
        }


.headings1 {padding-top: 2%;
            margin-top: 0;
            background-color: rgb(0, 77, 38);
            color: #fff;
            width: 100%;
            padding: 2%;
        }


.headings2 {padding-top: 2%;
            background-color: rgb(152,0,0);
            color: #fff;
            width: 100%;
            padding: 2%;
            margin-top: 0;
        }

.headings3 {padding-top: 2%;
            background-color: rgb(0, 0, 153);
            color: #fff;
            width: 100%;
            padding: 2%;
          margin-top: 0;}

.general {margin-top: 0;}

.general1 {height: 100vh;}

.general2 {height: 100vh;}

.general3 {height: 100vh;}

.tline {height: 120vh;}


.locations {height: 125vh;}

.locations1 {height: 120vh;}

#mexican {background-image: url('../images/diasinlatinos.jpg');
        background-size: cover;
        background-position: center;
        position:relative;
        margin-top: 0;
        bottom: 0;
        z-index: 1;
        height: 100vh;}

  #mex-gen {padding: 2%;
          margin-left: 3%;
          background-color: rgba(0, 77, 38, 0.5);
          max-width: 500px;
          color: #fff;
          margin-top: 2em;
          text-shadow: 1px 2px 2px #000000;}

  #mex-im {background-image: url('../images/mexican1.jpg');
          background-size: cover;
          background-position: center;
          position:relative;
          top: 0;
          bottom: 0;
          z-index: 1;}

 #miss-text {padding: 1%;
         margin-left: 5%;
         background-color: rgba(0, 77, 38, 0.5);
         max-width: 500px;
         color: #fff;
         margin-top: 2em;
         text-shadow: 1px 2px 2px #000000;
         float: left;}

#miss-text2 {padding: 1%;
        margin-bottom: 5%;
        margin-right: 5%;
        background-color: rgba(0, 77, 38, 0.5);
        max-width: 500px;
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 2px 2px #000000;
        float: right;}


#mvot-next {clear: both;
          float: right;
          margin: 2em;}


  #mex-vot {background-image: url('../images/latinoshillary.jpg');
            background-size: cover;
            background-position: center;
            position:relative;
            top: 0;
            bottom: 0;
            z-index: 1;}

  #mexv {padding: 2%;
        margin-left: 3%;
        background-color: rgba(0, 77, 38, 0.5);
        max-width: 500px;
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 2px 2px #000000;}


.mapwrap {  max-width: 900px;
            padding: 1em 2em;
            margin: auto;}

#ricans {background-image: url('../images/puertorico.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  top: 0;
  bottom: 0;
  z-index: 1;}

  #pr-gen {padding: 2%;
          margin-left: 3%;
          background-color: rgba(204, 0, 0, 0.5);
          max-width: 600px;
          color: #fff;
          margin-top: 2em;
          text-shadow: 1px 2px 2px #000000;
          float: left;}

#prtimediv {clear: both;
              float: right;
              margin: 1em;
              padding-right:1%;}

#pr-vot {background-image: url('../images/prvoting.jpg');
        background-size: cover;
        background-position: center;
        position:relative;
        top: 0;
        bottom: 0;
        z-index: 1;}


#pr-im {background-image: url('../images/hurricanemaria.jpg');
        background-size: cover;
        background-position: center;
        position:relative;
        top: 0;
        bottom: 0;
        z-index: 1;}

#priss {padding: 1%;
        margin-left: 3%;
        background-color: rgba(204, 0, 0, 0.5);
        max-width: 800px;
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 2px 2px #000000;
        float: left;}

        .expand {
          color: #379CB2;
        }

        .expand:hover {
          color: #82E8FF;
        }


#prvot-next {margin-bottom: 2em;}

.btn-default {clear: both;
              float: right;
              margin: 1em;}


#votpr {padding: 2%;
        margin-left: 3%;
        background-color: rgba(204, 0, 0, 0.5);
        max-width: 750px;
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 2px 2px #000000;
        float: left;}


#buttons2 {
          clear: both;
          float: right;
        margin: 1em;}


#hurmaria {float: right;
          clear: both;
          border: solid;
          border-color: rgb(152,0,0);}


#prlotext {padding: 1em;
        border: solid;
        background-color: rgb(152,0,0);
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 1px 2px #000000;}

#cuban {background-image: url('../images/cubanmusic3.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  top: 0;
  bottom: 0;
  z-index: 1;}



  #cuban-gen {padding: 2%;
          margin-right: 3%;
          background-color: rgba(0, 0, 153, 0.5);
          max-width: 500px;
          color: #fff;
          margin-top: 2em;
          text-shadow: 1px 2px 2px #000000;
          float: right;}


#cuban-vot {background-image: url('../images/cubanstrump.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  top: 0;
  bottom: 0;
  z-index: 1;}

 #cvot-text {padding: 2%;
            margin-left: 2%;
            background-color: rgba(0, 0, 153, 0.5);
            max-width: 500px;
            color: #fff;
            margin-top: 2em;
            margin-right: 5%;
            text-shadow: 1px 2px 2px #000000;float: right;
      }


#cuban-im {background-image: url('../images/cubaimmigrants.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;}


#cloc-text {padding: 2em;
        background-color: rgb(0, 0, 153);
        color: #fff;
        margin-top: 2em;
        text-shadow: 1px 1px 2px #000000;}

#cubaniss {
          padding: 1.5%;
          margin-left: 3%;
          margin-top: 0;
          background-color: rgba(0, 0, 153, 0.5);
          max-width: 400px;
          color: #fff;
          margin-top: 2em;
          text-shadow: 1px 2px 2px #000000;
          float: left;}


#cubaniss2 {padding: 1.5%;
  margin-right: 3%;
  background-color: rgba(0, 0, 153, 0.5);
  max-width: 600px;
  color: #fff;
  margin-top: 2em;
  text-shadow: 1px 2px 2px #000000;
  float: right;
  clear: both;
  margin-right: 5%;
  clear: both;
  float: right;}

#buttons3 {clear: both;
          float: right;
          padding-right: 2em;}


#mex-vot {background-image: url('../images/latinoshillary.jpg');
  background-size: cover;
  background-position: center;
  position:relative;
  top: 0;
  bottom: 0;
  z-index: 1;}

  #mexv {padding: 2%;
          margin-left: 3%;
          background-color: rgba(0, 77, 38, 0.5);
          max-width: 500px;
          color: #fff;
          margin-top: 2em;
          text-shadow: 1px 2px 2px #000000;}


#site1 {padding: 2%;
        margin-left: 5%;
        font-size: 90%;
        float: left;}

#evenmore {font-size: 90%;
          float: right;
          padding: 2%;
          margin-right: 15%;
          margin-bottom: 5%;
          }

#aboutstart {clear: both;
            margin-right: 10%;}

#abouttitle {padding-left: 3%;
            background-color: #000;}

#aboutsite {margin-left: 2em;}

#growing {margin: 0;}

footer {color: #fff;
        background-color: #000;
        padding: 1em;}



@media (max-width:600px) {

#mex-im {height: 140vh;}

#mex-vot {height: 120vh;}

#pr-im {height: 120vh;}

#votpr {width: 100%;}

#cuban-im {height: 120vh;}

#btn2 {display: inline;
      margin-left: auto;}

#learngroups {display: inline;
              margin-right: auto;}

#buttons2 {display: inline;
            margin-right: auto;}

#button3 {margin-left: 12%;
          padding-left: 51%;
          padding-right: 51%;
                      }

#buttons3 {display: inline;
            margin-right: auto;}

#mex-gen {margin: 0;}

#miss-text, #miss-text2, #mexv, #pr-gen, #priss, #votpr, #cuban-gen
            {margin-left: 0;
            margin-right: 0;
            padding: 2%;}

#cubaniss {margin-right: 1em;}

#cubaniss2 {margin-left: 1em;}

}
